# Pandas练习B（使用Iris和Wine数据集）
本部分主要练习空缺值处理和DataFrame的删除等。

# 1. Iris数据集练习

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris, and craete columns for the dataset

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, names = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class'])

# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.head()

### Step 4.  Is there any missing value in the dataframe?

### Step 5.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Step 6. Good, now lets substitute the NaN values to 1.0

### Step 7. Now let's delete the column class

### Step 8.  Set the first 3 rows as NaN

### Step 9.  Delete the rows that have NaN

### Step 10. Reset the index so it begins with 0 again

# 2. Wine数据集练习

### Step 1. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 2. Assign it to a variable called wine

### Step 3. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

### Step 4. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

### Step 5. Set the values of the first 3 rows from alcohol as NaN

### Step 6. Now set the value of the rows 3 and 4 of magnesium as NaN

### Step 7. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

### Step 8. Count the number of missing values

### Step 9.  Create an array of 10 random numbers up until 10. 
### Use random numbers you generated as an index and assign NaN value to each of cell.
### How many missing values do we have?
### Delete the rows that contain missing values

In [ ]:
# 这里有一系列的问题。你可以分成好几个子步骤来写代码。

### Step 10. Print only the non-null values in alcohol

### Step 11.  Reset the index, so it starts with 0 again